<% content_for :title do %>
  <title> Mark Hannah: About</title>
<% end %>

<div class="ui vertical segment">
  <h1 class="ui center aligned header">
    About Me
  </h1>
  <div class="postdescription">
    Hi, I'm Mark. I put this site together because I like to share my thoughts. Who doesn't, right?
    Here are some things about me:
    - I'm tall. This makes it difficult to buy clothes and walk through doorways unscathed.
    - I like olives.
    - I've been changing diapers for the last 8 years.
    - I
  </div>
</div>
