<% content_for :title do %>
  <title> Mark Hannah: About</title>
<% end %>

<div class="about">
  <div class="overlay">
    <div class="ui grid">

      <div class="row">
        <div class="right floated column"></div>
          <ul class="ui header about_details">
            <li class="ui huge header about_heading"> Hi. I'm Mark </li>
            <li class="ui header about_support"> Thanks for stopping by. I, </li>
            <li> reapolstered 2 couches </li>
            <li> think that good spec leaves <%= link_to 'leaves no room for interpretation', 'http://www.markthannah.com/posts/writing-good-spec-consistency-matters' %> </li>
            <li> ran a marathon and a Tough Mudder </li>
            <li> hope my last meal will be <%= link_to 'egg salad on a salt bagel', 'http://www.marxhotbagels.com', target: :_blank %> </li>
            <li> once let my hair grow for four years </li>
            <li> finished a basement </li>
            <li> try to listen more and talk less </li>
            <li> was voted employee of the year </li>
            <li> struggle to find clothes that fit </li>
            <li> taught myself to build websites </li>
            <li> helped a few kids turn their life around </li>
            <li> believe in "please" and "thank you" </li>
            <li> put my wife and 3 kids first </li>
            <li> led a team to fix 100,000 dead links </li>
            <li> took a new product from inception to launch </li>
            <li> wireframe like a boss </li>
            <li> sew gifts, halloween costumes, and stuffed animals (like a boss) </li>
            <li> think that hard work and kindness go a long way </li>
            <li> cut 50% of the hair in my house </li>
            <li> would be happy to connect with you on Linked IN </li>
          </ul>
        </div>

    </div>
  </div>
</div>
