<% content_for :title do %>
  <title> Mark Hannah: About</title>
<% end %>

<div class="about">
  <div class="overlay">
    <div class="ui grid">

      <div class="row">
        <div class="right floated column"></div>
          <div class="ui huge header about_heading">
            Hi, I'm Mark
          </div>
        </div>

        <div class="row">
          <div class="right floated column"></div>
            <div class="ui header about_support">
              Thanks for stopping by. 
            </div>
          </div>

    </div>
  </div>
</div>
