
<div class="parallax-like">
  <div class="overlay">
    <div class="ui 7 column grid">
      <div class="row">
        <div class="column"></div>
          <div class="ui huge header" style="color: #a9a9a9; font-size: 8vw;">
            Mark Hannah
          </div>
      </div>
    </div>
  </div>
</div>
