// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about {
    background: image-url("plants.jpg") no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: scroll;
}

.about .overlay {
    min-height: 750px;
    background: rgba(35, 133, 161,0);
    font-size: 18px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.about_heading {
  color: #a9a9a9 !important;
  font-size: 7vw !important;
  margin-right: 70px !important;
}

.about_support {
  color: #a9a9a9 !important;
  font-size: 3vw !important;
  margin-right: 70px !important;
  margin-top: 0px !important;
}
