@import 'semantic-ui';

.navbottom {
  margin-bottom: 0px !important;
}

.parallax-like {
    background: image-url("home.jpg") no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax-like .overlay {
    min-height: 750px;
    background: rgba(35, 133, 161,0);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.centering-text {
  text-align: right;;
  color: #a9a9a9 !important;
}

* {
  margin: 0;
  }

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
}

.footer, .push {
  height: 7em;
}

.divider_footer {
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}
