<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="eight wide column">
          <h4 class="ui inverted header">Different Types of Posts</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">This site is about Mark</h4>
          <p>This is where I say important things. This is where I say important things.This is where I say important things.This is where I say important things.This is where I say important things.This is where I say important things.This is where I say important things.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Home</a>
        <a class="item" href="#">About Me</a>
        <a class="item" href="#">All Posts</a>
        <a class="item" href="#">Say Hi</a>
      </div>
    </div>
  </div>
